{% extends 'base.html.twig' %}

{% block title %}Edit CV{% endblock %}

{% block body %}
<div class="card">
<div class="card-header bg-success text-center  ">
    <h1 class="text-center">Editer son CV</h1>
</div>
<div class="card-body bg-light grey text-center  ">
    {{ include('cv/_form.html.twig', {'button_label': 'Update'}) }}
</br>
    <a href="{{ path('cv_index') }}" class="btn btn-sm btn-success">Retour liste</a>

    {{ include('cv/_delete_form.html.twig') }}
</div>
</div>
{% endblock %}
