{% extends 'base.html.twig' %}

{% block title %}New CV{% endblock %}

{% block body %}
 <div class="card">
 <div class="card-header bg-success">
    <h1 class="text-center ">Créer un nouveau CV</h1>
</div>
<div class="card-body bg-light grey">
</br>
    {{ include('cv/_form.html.twig') }}
</br>
    <a href="{{ path('cv_index') }}" class="btn btn-sm btn-success">Retour liste</a>
</div>
</div>    
{% endblock %}
